{{#if error}}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action "closeAlert" 'error'}}>
            <span aria-hidden="true">&times;</span>
        </button>
        {{error}}
    </div>
{{/if}}

{{#if info}}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action "closeAlert" 'info'}}>
            <span aria-hidden="true">&times;</span>
        </button>
        {{info}}
    </div>
{{/if}}


<div class="row">
    <div class="col-8">
        <div class="text-left">
            {{input class="form-control" value=browserUrl placeholder="url"}}
        </div>
    </div>
    <div class="col-4">
        <div class="text-left">
            <button class="btn btn-primary btn-block" {{action "loadUrl" browserUrl}}>Go</button>
        </div>
    </div>
</div>

<br>

<div class="text-center">
 {{ember-webview
         onReady='onWebviewReady'
         url=guestUrl
 }}
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
        {{input class="form-control" value=newStationName placeholder="SR"}}
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Play/Pause Script</label>
    <div class="col-4">
        {{textarea class="form-control" value=playPauseActionScript placeholder="play pause script"}}
    </div>

    <label for="example-text-input" class="col-2 col-form-label">Stop Script</label>
    <div class="col-4">
        {{textarea class="form-control" value=stopActionScript placeholder="stop script"}}
    </div>
</div>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Next Script</label>
    <div class="col-4">
        {{textarea class="form-control" value=nextActionScript placeholder="next script"}}
    </div>

    <label for="example-text-input" class="col-2 col-form-label">Previous Script</label>
    <div class="col-4">
        {{textarea class="form-control" value=previousActionScript placeholder="previous script"}}
    </div>
</div>


<br>

<div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-primary btn-block" {{action "saveCandidate" newStationName browserUrl playPauseActionScript stopActionScript nextActionScript previousActionScript}}>Save station</button>
    </div>
</div>
