<div class="l-browsable-guest">
    <div class="l-browsable-guest-alerts">
        {{#if error}}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action "closeAlert" 'error'}}>
                    <span aria-hidden="true">&times;</span>
                </button>
                {{error}}
            </div>
        {{/if}}

        {{#if info}}
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" {{action "closeAlert" 'info'}}>
                    <span aria-hidden="true">&times;</span>
                </button>
                {{info}}
            </div>
        {{/if}}
    </div>

    <div class="l-browsable-guest-nav-bar">
        <div class="form-group">
            <label for="inputName">Name</label>
            {{input class="form-control" id="inputName" value=name placeholder=placeholder}}
        </div>
        <div class="form-group">
            <label for="inputUrl">Url</label>
            {{input class="form-control" id="inputUrl" value=url placeholder="url"}}
        </div>
        <div class="text-right">
            <button class="btn btn-primary" {{action "loadUrl" url}}>Go</button>
        </div>
    </div>

    <br>

    <div class="l-browsable-guest-window">
        {{ember-webview
             onReady='onWebviewReady'
             url=guestUrl
        }}
    </div>

    <br>

    <div class="l-browsable-guest-ide">
        {{#bs-tab customTabs=true as |tab|}}
            {{#bs-nav type="tabs" as |nav|}}
                {{#nav.item active=(bs-eq tab.activeId "playPauseAction")}}
                    <a href="#playPauseAction" role="tab" {{action tab.select "playPauseAction"}}>
                        Play/Pause <span class="glyphicon glyphicon-ok-circle {{if playPauseAction "text-success" "text-danger"}}" aria-hidden="true"></span>
                    </a>
                {{/nav.item}}
                {{#nav.item active=(bs-eq tab.activeId "stopAction")}}
                    <a href="#stopAction" role="tab" {{action tab.select "stopAction"}}>
                        Stop <span class="glyphicon glyphicon-ok-circle {{if stopAction "text-success" "text-muted"}}" aria-hidden="true"></span>
                    </a>
                {{/nav.item}}
                {{#nav.item active=(bs-eq tab.activeId "nextAction")}}
                    <a href="#nextAction" role="tab" {{action tab.select "nextAction"}}>
                        Next <span class="glyphicon glyphicon-ok-circle {{if nextAction "text-success" "text-muted"}}" aria-hidden="true"></span>
                    </a>
                {{/nav.item}}
                {{#nav.item active=(bs-eq tab.activeId "previousAction")}}
                    <a href="#previousAction" role="tab" {{action tab.select "previousAction"}}>
                        Previous <span class="glyphicon glyphicon-ok-circle {{if previousAction "text-success" "text-muted"}}" aria-hidden="true"></span>
                    </a>
                {{/nav.item}}
            {{/bs-nav}}

            <div class="tab-content">
                {{#tab.pane elementId="playPauseAction" title="Tab 1"}}
                    {{code-editor
                            value=playPauseAction
                            action="playPauseAction"
                            update="update"
                    }}
                {{/tab.pane}}
                {{#tab.pane elementId="stopAction" title="Stop"}}
                    {{code-editor
                            value=stopAction
                            action="stopAction"
                            update="update"
                    }}
                {{/tab.pane}}
                {{#tab.pane elementId="nextAction" title="Next"}}
                    {{code-editor
                            value=nextAction
                            action="nextAction"
                            update="update"
                    }}
                {{/tab.pane}}
                {{#tab.pane elementId="previousAction" title="Previous"}}
                    {{code-editor
                            value=previousAction
                            action="previousAction"
                            update="update"
                    }}
                {{/tab.pane}}
            </div>
        {{/bs-tab}}
    </div>

    <div class="l-browsable-guest-footer text-right">
            <button class="btn btn-default" {{action "openDevTools"}}>Open DevTools</button>
            <button class="btn btn-primary" {{action "save" name url playPauseAction stopAction nextAction previousAction}}>Save station</button>
    </div>
</div>
