<ul class="stations">
    {{#each model as |station|}}
        <li>
            {{#link-to "station" station.id}}{{station.name}}{{/link-to}} <br>
            <button {{action "removeStation" station.id}}>Remove</button>
        </li>
    {{/each}}
</ul>
<hr>
{{input value=newStationName placeholder="Name" class="name"}}
{{input value=newStationUrl placeholder="url" class="url"}}
{{input value=newStationSelector placeholder="selector" class="selector"}}
<button {{action "addStation" newStationName newStationUrl newStationSelector}} class="submit">Add station</button>
